<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}
    {% endblock %}



</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #53b14f;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <i class="material-icons" style="display: inline-flex;vertical-align: top;">music_note</i>
            Kartoshka Music
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{% url 'index' %}" class="nav-item nav-link">
                    <i class="material-icons" style="display: inline-flex;vertical-align: top;">home</i>
                    KPlayer
                </a>
                {% if user_id == None %}
                <a class="nav-item nav-link" style="color: green;"
                    href="https://accounts.spotify.com/en/authorize?client_id=9f4b40f8f3614b4bbf5a108a81408477&response_type=code&redirect_uri=http://127.0.0.1:8000/callback&scope=user-read-private user-library-read playlist-modify-public">
                    Login to Spotify
                </a>
                {% else %}
                <a class="nav-item nav-link" href="">
                    <i class="material-icons" style="display: inline-flex;vertical-align: top;">account_circle</i>
                    {{ user_id }}
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}
</body>

</html>