<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>music_player</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'player/css/styles.css' %}">
</head>

<body>
    <div id="main-section" class="row">
        <div id="band-background" style="background: url('{{artist_image}}');"></div>
        <div id="middle">
            <div class="row auto-size" id="main-row">
                <div class="col main-col">
                    <div id="current-song">
                        <div id="current-album"><img class="img-fluid" src="{{song_art}}"></div>
                        <div id="song-info">
                            <h1 class="text-center" id="song-title">{{song_title}}</h1>
                            <h2 class="text-center" id="song-artist">{{song_artist}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="history-pane"></div>
    </div>
    <div id="controls-section">
        <div class="container text-center">
            <div id="controls">
                <button class="btn btn-primary control-btn small-control-btn" type="button">
                    <i class="material-icons">skip_previous</i>
                </button>
                <button class="btn btn-primary control-btn big-control-btn" type="button">
                    <i class="material-icons">pause</i>
                </button>
                <button class="btn btn-primary control-btn small-control-btn" type="button">
                    <i class="material-icons">skip_next</i>
                </button>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <a class="" href="https://accounts.spotify.com/en/authorize?client_id=325f8457b0444db0919e8bc14e63ed9f&response_type=code&redirect_uri=http://127.0.0.1:8000/callback&scope=user-modify-playback-state user-read-playback-state user-read-recently-played user-read-currently-playing&show_dialog=true">Login with Spotify</a>
</body>

</html>