<!DOCTYPE html>
<html>

<head>
    <title>KPlayer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="player.css">
</head>

<body>


<div class="row text-center">
    <img class="currentAlbum mx-auto d-block" src="testAlbum.jpg" alt="">
</div>

<div class="player fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="control-btn d-flex justify-content-center">
                <i class="material-icons">skip_previous</i>
            </div>
        
            <div class="control-btn d-flex justify-content-center">
                <i class="material-icons">play_arrow</i>
            </div>
        
            <div class="control-btn d-flex justify-content-center">
                <i class="material-icons">skip_next</i>
            </div>

        </div>
    </div>


</div>

</body>


</html>